.container {
  border: 2px solid red;
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.item {
  height: 90px;
  width: 90px;
  border: 2px solid black;
  margin: 4px;
  background-color: violet;
}